*{
    text-decoration: none;
}

.page-header{
    margin-top: 2%;
    margin-left: 10%;

}

.panel-heading{
    padding: 0 1% 1% 2%;
    margin: 2% 10% 0 10%;
}
.panel-title{
    margin: 1% 0 0 0;
}

.panel-body{
    padding: 0 1% 1% 2%;
    margin: 0 10% 0 10%;
}
#rodapeEscuro{
	background-color: #2B2B2B;
	width: auto;
	height: 200px;
}

.nav{
    background-color: #FFFFFF;
    font-family:  'NowRegular', sans-serif; font-weight: 100;
    
    font-size: 16px;
    color: #2B2B2B;
    position: relative;

    width: auto;
    height: auto;
   
    display: grid;
    line-height: 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 4px;
   
}

nav .navbar-nav li a{
  color: #000 !important;
}

a.nounderline:link 
{
    text-decoration:none; 
    text-decoration-color: rgb(20, 20, 20);
} 

.logo{
    width: 100px;
    height: auto;
}


#xia{
    padding-left: 100px;

}

.img_inicial{
    padding:5%;
    margin-top: 40px;
    
}



/*
 EVENTOS
*/
.card-header{
    background-color: #fff;
    border-bottom-color: transparent;
}
.card{
    margin-bottom: 35px;
    border-color: #333;
    border-width: 2px;
}
#eventos{
    padding: 10%;
    padding-top: 7%;
    padding-bottom: 5%;
}
.anos ul{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type:none;
    padding-inline-start:0px;


}
.anos ul li a{
 text-decoration: none;
 font-size: 18px;
 color: #999;
 font-weight: 150;
}
.anos ul li a:hover{
    font-size: 17px;
    color: #333;
}

.anoTxt{
    color: #FF6D1A;
    font-size: 25px;
    margin-bottom: 20px;
}
.mb-0{
   font-size: 20px;
   font-weight: bold;
   color: #222;
}

#eventos .subtitle{
    font-size: 30px;
    color: #222;
    margin-bottom: 20px;
}
.card-header a i{
    float: right;
}
.card-header a{
    text-decoration: none;
}
.anoTxt,.card-body, .mb-0, #eventos .subtitle, .anos ul li a{
    font-family: 'NowRegular', sans-serif;
}
.btn-galeria{
    padding: 10px;
    background: #FF6D1A;
    color: #fff;
    border-color: #555;
    border-width: 1.3px;
    float: right;
    margin-bottom: 20px;
}