.page-header{
    margin-top: 2%;
    margin-left: 10%;

}

.panel-heading{
    padding: 0 1% 1% 2%;
    margin: 2% 10% 0 10%;
}
.panel-title{
    margin: 1% 0 0 0;
}

.panel-body{
    padding: 0 1% 1% 2%;
    margin: 0 10% 0 10%;
}
#rodapeEscuro{
	background-color: #2B2B2B;
	width: auto;
	height: 200px;
}


a.nounderline:link 
{
    text-decoration:none; 
    text-decoration-color: rgb(20, 20, 20);
} 

.logo{
    width: auto;
    height: 30px;
}


#xia{
    padding-left: 100px;

}

.img_inicial{
    padding:5%;
    margin-top: 40px;
    
}
.navegacao{
    margin-left: 8%;
    font-family: NowRegular;
    font-weight: normal; 
   font-style: normal; 
    margin-right: 8%;
}
.borda{
    border-bottom:#2B2B2B;
}

.corrente{
    background-color:#3172d5;
}